{% extends "base.html" %}

{% block content %}
  <div class="container my-3">
    <h1 style="text-align:center;">Welcome to Python Guides</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 style="text-align:center;">Thanks for landing on this page .</h3>
      <br>
      <h6>orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac fringilla diam. Donec ut efficitur magna, et condimentum elit. Cras porttitor consequat maximus. Praesent sit amet tortor eget nisi dapibus convallis. Maecenas a justo risus. Etiam ac enim vel augue ullamcorper efficitur. Etiam nec pretium mi. Duis quis magna quis felis ullamcorper ullamcorper. Sed sed tempor ante. Suspendisse convallis nisi et vulputate tempor. Nulla rhoncus erat vitae diam posuere efficitur.

        Nullam commodo mauris purus, fermentum bibendum orci feugiat sed. Mauris maximus elit lorem, ut egestas velit tristique a. Proin fermentum dictum vehicula. Duis eget elit dolor. Nullam at tincidunt orci. Donec a placerat tellus. Nam auctor nulla ac augue pellentesque dignissim. Integer tincidunt sem mauris. Etiam aliquam leo urna, ac luctus lacus molestie vel. Fusce a nulla erat. Duis rutrum diam nibh, quis rutrum risus elementum vel. Nulla lacus ante, euismod sed dictum et, commodo vitae lorem. Nulla justo massa, efficitur ut tristique a, dapibus ut nunc. Praesent at sollicitudin lorem, ac interdum magna. Phasellus placerat libero nec hendrerit accumsan. Cras massa nunc, rhoncus ut faucibus non, facilisis quis lectus.>
      <br>
      <h2 style="text-align:center;">Feel free to explore more content.</h2>
    </div>

{%endblock%}



  